[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
termcolor = "*"
alive-progress = "*"
pyprof2calltree = "*"
pyshadow = "*"
termgraph = {editable = true, git = "https://github.com/jbordoe/termgraph.git"}
jupyterlab = "*"
seaborn = "*"
pyfiglet = "*"
colorlog = "*"
google-generativeai = "*"

[dev-packages]
coverage = "*"

[requires]
python_version = "3.13"
