[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
termcolor = "*"
alive-progress = "*"
pyprof2calltree = "*"

[dev-packages]

[requires]
python_version = "3.9"
